@using Microsoft.AspNetCore.Http
@{
    Layout = null;
}


<!DOCTYPE html>
<!-- saved from url=(0048)https://colorlib.com/etc/lf/Login_v11/index.html -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Thank You</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" href="https://colorlib.com/etc/lf/Login_v11/images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="~/login_files/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/login_files/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/login_files/icon-font.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/login_files/animate.css"/>
    <link rel="stylesheet" type="text/css" href="~/login_files/hamburgers.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/login_files/select2.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/login_files/util.css"/>
    <link rel="stylesheet" type="text/css" href="~/login_files/main.css"/>
    <link rel="stylesheet" type="text/css" href="~/assets/css/adminstyle.css"/>

    <meta name="robots" content="noindex, follow">
</head>


<body data-new-gr-c-s-check-loaded="14.1174.0" data-gr-ext-installed="" cz-shortcut-listen="true">
    <div class="limiter">
        <div class="container-login100">
            <div class="registrationbox p-l-50 p-r-50 p-t-77 p-b-30">
                <form class="login100-form validate-form">
                    <div class="login100-form-title p-b-10 text-center" align="center">
                        <img src="assets/img/logo-color.png" alt="" class="img-responsive text-center" width="120">
                    </div>


                    <div class="messagetext mt-4" align="center">
                        <h3> Thank you </h3>
                        <p> for submitting your registration form. </p>
                        <p> We have received your details and are processing your request. Your unique registration ID is </p>
                        <p> <b> @Convert.ToString(Context.Session.GetString("user")) | @Convert.ToString(Context.Session.GetString("Upassword")) </b> </p>

                        <p> Which you can use for future reference.</p>
                        <br>
                        <p>If you have any questions or need further assistance, please don't hesitate to contact us at 0.</p>
                        <hr>
                        <p> Best regards : <br> <b> Vitaflow Healthcare Pvt. Ltd. </b> </p>

                    </div>

                    <div class="container-login100-form-btn p-t-25">
                        <a href="~/Account/Login" class="login100-form-btn"> LOGIN ACCOUNT </a>

                    </div>

                </form>
            </div>
        </div>
    </div>


    <script src="~/login_files/popper.js"></script>
    <script src="~/login_files/bootstrap.min.js"></script>
    <script src="~/login_files/select2.min.js"></script>
    <script src="~/login_files/main.js"></script>

    <script async="" src="~/login_files/js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script defer="" src="~/login_files/vef91dfe02fce4ee0ad053f6de4f175db1715022073587" integrity="sha512-sDIX0kl85v1Cl5tu4WGLZCpH/dV9OHbA4YlKCuCiMmOQIk4buzoYDZSFj+TvC71mOBLh8CDC/REgE0GX0xcbjA==" data-cf-beacon="{&quot;rayId&quot;:&quot;888c8619be9fa786&quot;,&quot;version&quot;:&quot;2024.4.1&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;}" crossorigin="anonymous"></script>


    <iframe frameborder="0" scrolling="no" style="background-color: transparent; border: 0px; display: none;" src="./login_files/saved_resource.html"></iframe>
    <div id="GOOGLE_INPUT_CHEXT_FLAG" input="" input_stat="{&quot;tlang&quot;:true,&quot;tsbc&quot;:true,&quot;pun&quot;:true,&quot;mk&quot;:true,&quot;ss&quot;:true}" style="display: none;"></div>
</body>
<grammarly-desktop-integration data-grammarly-shadow-root="true">
    <template shadowrootmode="open">
        <style>
            div.grammarly-desktop-integration {
                position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                white-space: nowrap;
                border: 0;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

                div.grammarly-desktop-integration:before {
                    content: attr(data-content);
                }
        </style><div aria-label="grammarly-integration" role="group" tabindex="-1" class="grammarly-desktop-integration" data-content="{&quot;mode&quot;:&quot;full&quot;,&quot;isActive&quot;:true,&quot;isUserDisabled&quot;:false}"></div>
    </template>
</grammarly-desktop-integration>
</html>